:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#fff5c4, #1e1a18);
  /* page background */

  /* Header */
  --color-head-bg: light-dark(#de8926, #925917);

  /* Logotype */
  --color-logotype-bg: light-dark(#000, #696969);
  --color-text-logotype: #ffffff;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: light-dark(#000, #696969);
  /* Links */
  --color-link-bg: light-dark(#fffae2, #000);
  --color-link-hover: light-dark(#fff, #000); /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#de8926, #1e1a18);
  --color-headline-text-page: light-dark(#ffffff, #d9d9d9);

  /* Tekst */
  --color-text: light-dark(#000, #c5c5c5);
  --color-text-inverted: light-dark(#fff, #c5c5c5);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 25px;

  /* Cards */
  --color-card-bg: light-dark(#d23f00, #792500);
  --color-cta-card-bg: light-dark(#de8926, #000);
  /* news-cards */
  --color-news-bg: light-dark(#de8926, #925917);
  --color-news-bg-inverted: #d23f00;
  --color-cta-newscard-bg: light-dark(#d23f00, #000);
  --color-cta-newscard-bg-inverted: light-dark(#de8926, #000);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#de8926, #925917);
  --color-infobox-1-bg: light-dark(#cfcec6, #1e1a18);
  --color-infobox-2-bg: light-dark(#969995, #000);
}

.register_tekst {
  margin-bottom: 3rem;
}

img.airtagpic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: auto;
}

#Ikea {
  width: 200px;
  height: auto;
}

#webform {
  background-color: light-dark(#fff5c4, #1e1a18);
}

.logo_pic {
  height: 20px;
  width: auto;
}

.logo:hover {
  background: none;
}

.menuItem {
  border-radius: 20px;
}

p {
  max-width: 50ch;
}

.index_overskrift {
  font-size: xx-large;
}

#toggle {
  display: inline-block;
  padding: 0rem 1rem;

  border-radius: var(--border-radius);
  background-color: light-dark(#fff5c4, #1e1a18);
}

/******** DARK MODE **********/

html.dark {
  color-scheme: dark;
}
