#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/********* EGEN STYLING ***********/

#Kontakt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0.5rem;
}

.form_group select {
  min-width: 200px;
}

.form_group select:user-invalid {
  border: 2px solid red;
}

.form_group textarea {
  min-width: 400px;
}

input:focus {
  background-color: light-dark(#fff, #1e1a18);
  border-color: #000;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input:invalid + span::before {
  content: "Venligt indtast en gyldig Email";
  color: red;
}

fieldset {
  margin-bottom: 1rem;
}

.submit {
  box-shadow: 2px 2px 8px black;
  min-width: 100px;
  border-radius: 10px;
}

.submit:hover {
  background-color: white;
  transition: 0.5s;
}

.hide {
  display: none;
}

.form_group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
